<%- include("partials/header"); -%>

    <div class="box" id="heading">

        <h1>
            <%= listTitle %>
        </h1>

    </div>

    <div class="box">

        <!-- loops through objects in array and print them into their own paragraph -->
        <% newListItems.forEach(function(item){ %>

            <form action="/delete" method="post">
                <!-- onChange will submit the form to the post request -->
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                    <!-- only get the name of object -->
                    <p>
                        <%= item.name %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%=listTitle%>">
            </form>

            <% }) %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value="<%=listTitle%>">+</button>
                </form>
    </div>

    <%- include("partials/footer"); -%>